

<app-header></app-header>

<div><!-- class="container"-->

  <router-outlet></router-outlet> <!--<app-home></app-home>-->

</div>

<app-footer></app-footer>







<!-- <nav class="p-3 mb-2 bg-info bg-gradient">
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>

<div class="row">
  <div class="column" >
    <div class="card">
      <div class="card-body">
          <img src="assets/img/PetShopBand.png" class="logo" alt="">
      </div>
    </div>
  </div>  
</div> -->
